.form-label {
    -fx-font-size: 20;
}

 #age-form-label{
    -fx-font-size: 29;
    -fx-text-fill: red;
}

 #age-form-editor{
    -fx-background-color: pink;

}

.form-editor {
-fx-text-fill: blue;
    -fx-font-size: 20;
}




